@{
    ViewData["Title"] = "User";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewBag.Userss.UserName</p>
<p>@ViewBag.Userss.Location</p>
<p>@ViewBag.Userss.FavLanguage</p>
<p>@ViewBag.Userss.Comment</p>
<a href="/">Go Back</a>
